/*
Form styling -----------------------------------------
*/

.form-titles {
    color: white;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.form {
    width: 400px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    .register-content {
        margin: 0 auto;
        width: 300px;
        input[name="username"],
        input[name="password"],
        input[name="email"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            text-align: center;
            color: white;
            border: 2px solid #2980b9;
            width: 200px;
            padding: 14px 10px;
            outline: none;
            border-radius: 15px;
            transition: all ease .2s;
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
            &:focus {
                width: 280px;
                border-color: white;
                border-top-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
                &::-webkit-input-placeholder {
                    color: transparent;
                }
                &:-moz-placeholder {
                    color: transparent;
                }
                &::-moz-placeholder {
                    color: transparent;
                }
                &:-ms-input-placeholder {
                    color: transparent;
                }
                &:hover {
                    border-color: white;
                    border-top-color: rgba(0, 0, 0, 0);
                    border-bottom-color: rgba(0, 0, 0, 0);
                }
            }
            &:hover {
                border-color: #2ecc71;
            }
            &.valid {
                color: black;
                background: rgb(46, 204, 113);
                &:focus {
                    color: black;
                    background: rgb(46, 204, 113);
                    border-color: rgba(0, 0, 0, 0);
                }
            }
            &.invalid {
                color: white;
                background: rgb(189, 0, 0);
                border-color: rgb(189, 0, 0);
                &:focus {
                    color: white;
                    background: rgb(189, 0, 0);
                    border-color: rgba(0, 0, 0, 0);
                }
            }
        }
        input[type="submit"] {
            font-weight: 800;
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            color: white;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            border-radius: 15px;
            transition: .25s;
            cursor: pointer;
            &:hover {
                background: #2ecc71;
                color: black;
            }
        }
        input[type="checkbox"] {
            display: none;
            &+label {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
                display: inline-block;
                color: white;
                margin: 0.2em;
                margin-top: 1.5em;
                cursor: pointer;
                padding: 0.2em;
                padding-left: 4em;
                &:before {
                    content: "\2714";
                    border: 0.15em solid #2980b9;
                    border-radius: 0.2em;
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    padding-left: 0.2em;
                    padding-bottom: 0.1em;
                    margin-right: 0.5em;
                    vertical-align: bottom;
                    color: transparent;
                    transition: 0.2s;
                }
                &:active:before {
                    transform: scale(0);
                }
            }
            &:checked+label:before {
                background-color: #2ecc71;
                border-color: #2980b9;
                color: #FFF;
            }
        }
    }
}