// Input requrements -------------------------
.input-reqs {
    color: rgb(190, 0, 0);
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    list-style: disc;
    list-style: inside;
    width: 350px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    margin-left: -20%;
    margin-top: -10px;
    margin-bottom: -10px;
}

input:not([type="submit"])+.reg-reqs .input-reqs {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all .5s ease-out;
}

input:not([type="submit"]):focus+.reg-reqs .input-reqs {
    max-height: 500px;
    opacity: 1;
    transition: all .5s ease-in;
}

li.valid {
    color: #2ecc71;
    &::after {
        content: "\2714";
        position: absolute;
        margin-left: 10px;
    }
}