@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
body {
    margin: 0;
    padding: 0;
    //background: url('../images/web_bg_bw.jpg') no-repeat;
    background: #1a232c;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    padding-top: 0.5em;
}

.title {
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-size: 48px;
    color: rgb(224, 224, 224);
}


/*
Footer styling -----------------------------------------
*/

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(216, 216, 216);
    font-size: 16px;
    float: left;
    left: 10px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    span {
        font-family: monospace;
        font-weight: 600;
        font-size: 14px;
    }
}

.gear-icon {
    position: fixed;
    bottom: 0;
    .icon {
        width: 150px;
        height: 150px;
        opacity: 1;
        transition: ease 0.5s;
        &:hover {
            opacity: 0;
            transition: ease 0.5s;
        }
    }
}


/*
Responsive design -----------------------------------------
*/

@media only screen and (max-width: 1100px) {
    .gear-icon {
        display: none;
    }
    .title {
        display: none;
    }
    .user-input {
        display: none;
    }
}

@media only screen and (max-height: 700px) {
    .gear-icon {
        display: none;
    }
    .title {
        display: none;
    }
}

@media only screen and (max-height: 500px) {
    footer {
        display: none;
    }
}