.user-input {
    opacity: 0;
    transition: all ease 0.3s;
    position: absolute;
    //left: 50%;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    background: rgba(0, 0, 0, .8);
    color: rgb(158, 0, 0);
    width: 350px;
    padding: 10px 30px 10px 0;
    border-radius: 10px;
    left: 93%;
    line-height: 1.5rem;
    .tooltip-reqs {
        text-align: center;
        list-style: disc;
        list-style: inside;
    }
}

.username-tooltip {
    transform: translateY(-105px);
}

.email-tooltip {
    transform: translateY(-80px);
}

.password-tooltip {
    transform: translateY(-125px);
}

input[name="username"]+.reg-reqs .username-tooltip {
    &::before {
        content: "";
        position: absolute;
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        margin-left: -1.1em;
        top: 55px;
    }
}

input[name="email"]+.reg-reqs .email-tooltip {
    &::before {
        content: "";
        position: absolute;
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        margin-left: -1.1em;
        top: 30px;
    }
}

input[name="password"]+.reg-reqs .password-tooltip {
    &::before {
        content: "";
        position: absolute;
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        margin-left: -1.1em;
        top: 75px;
    }
}

input:focus+.reg-reqs .user-input {
    opacity: 1;
}


/*
Tooltip styling -----------------------------------------
*/


/* .tooltip {
    opacity: 0;
    transition: all ease 0.3s;
    &::before,
    &::after {
        position: absolute;
        left: 50%;
        text-align: center;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }
}

input[type="text"]+.user-tooltip {
    &::before {
        content: "";
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        left: 22em;
        top: 40px;
        //transform: translateY(-95px);
        text-align: center;
    }
    &::after {
        content: attr(data-tooltip);
        background: rgba(0, 0, 0, .8);
        font-size: 14px;
        color: seashell;
        width: 250px;
        padding: 14px;
        border-radius: 10px;
        left: 91.3%;
        transform: translateY(-95px);
    }
}

input[type="email"]+.email-tooltip {
    &::before {
        content: "";
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        left: 22em;
        top: 105px;
        text-align: center;
    }
    &::after {
        content: attr(data-tooltip);
        background: rgba(0, 0, 0, .8);
        font-size: 14px;
        color: seashell;
        width: 250px;
        padding: 14px;
        border-radius: 10px;
        left: 91.3%;
        transform: translateY(-70px);
    }
}

input[type="password"]+.password-tooltip {
    &::before {
        content: "";
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        left: 22em;
        top: 175px;
        text-align: center;
    }
    &::after {
        content: attr(data-tooltip);
        background: rgba(0, 0, 0, .8);
        font-size: 14px;
        color: seashell;
        width: 250px;
        padding: 14px;
        border-radius: 10px;
        left: 91.3%;
        transform: translateY(-100px);
    }
}

input:focus+.tooltip {
    opacity: 1;
} */