@charset "UTF-8";
/*
Form styling -----------------------------------------
*/
.form-titles {
  color: white;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.form {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.form .register-content {
  margin: 0 auto;
  width: 300px;
}
.form .register-content input[type=text],
.form .register-content input[type=password],
.form .register-content input[type=email] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 2px solid #2980b9;
  width: 200px;
  padding: 14px 10px;
  outline: none;
  border-radius: 15px;
  transition: all ease 0.3s;
}
.form .register-content input[type=text]:focus,
.form .register-content input[type=password]:focus,
.form .register-content input[type=email]:focus {
  width: 280px;
  border-color: white;
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}
.form .register-content input[type=text]:focus::-webkit-input-placeholder,
.form .register-content input[type=password]:focus::-webkit-input-placeholder,
.form .register-content input[type=email]:focus::-webkit-input-placeholder {
  color: transparent;
}
.form .register-content input[type=text]:focus:-moz-placeholder,
.form .register-content input[type=password]:focus:-moz-placeholder,
.form .register-content input[type=email]:focus:-moz-placeholder {
  color: transparent;
}
.form .register-content input[type=text]:focus::-moz-placeholder,
.form .register-content input[type=password]:focus::-moz-placeholder,
.form .register-content input[type=email]:focus::-moz-placeholder {
  color: transparent;
}
.form .register-content input[type=text]:focus:-ms-input-placeholder,
.form .register-content input[type=password]:focus:-ms-input-placeholder,
.form .register-content input[type=email]:focus:-ms-input-placeholder {
  color: transparent;
}
.form .register-content input[type=text]:focus:hover,
.form .register-content input[type=password]:focus:hover,
.form .register-content input[type=email]:focus:hover {
  border-color: white;
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}
.form .register-content input[type=text]:hover,
.form .register-content input[type=password]:hover,
.form .register-content input[type=email]:hover {
  border-color: #2ecc71;
}
.form .register-content input[type=text].valid,
.form .register-content input[type=password].valid,
.form .register-content input[type=email].valid {
  border-color: #2ecc71;
}
.form .register-content input[type=text].valid:focus,
.form .register-content input[type=password].valid:focus,
.form .register-content input[type=email].valid:focus {
  border-color: #2ecc71;
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}
.form .register-content input[type=text].invalid,
.form .register-content input[type=password].invalid,
.form .register-content input[type=email].invalid {
  border-color: #bd0000;
}
.form .register-content input[type=text].invalid:focus,
.form .register-content input[type=password].invalid:focus,
.form .register-content input[type=email].invalid:focus {
  border-color: #bd0000;
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}
.form .register-content input[type=submit] {
  font-weight: 800;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  color: white;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  border-radius: 15px;
  transition: 0.25s;
  cursor: pointer;
}
.form .register-content input[type=submit]:hover {
  background: #2ecc71;
  color: black;
}
.form .register-content input[type=checkbox] {
  display: none;
}
.form .register-content input[type=checkbox] + label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  color: white;
  margin: 0.2em;
  margin-top: 1.5em;
  cursor: pointer;
  padding: 0.2em;
  padding-left: 4em;
}
.form .register-content input[type=checkbox] + label:before {
  content: "✔";
  border: 0.15em solid #2980b9;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
  margin-right: 0.5em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}
.form .register-content input[type=checkbox] + label:active:before {
  transform: scale(0);
}
.form .register-content input[type=checkbox]:checked + label:before {
  background-color: #2ecc71;
  border-color: #2980b9;
  color: #FFF;
}

/* input {
    &.valid {
        color: black !important;
        background: #2ecc71 !important;
        &:focus {
            color: black !important;
            background: #2ecc71 !important;
        }
    }
    &.invalid {
        color: black !important;
        background: red !important;
        &:focus {
            color: black !important;
            background: red !important;
        }
    }
} */

/*# sourceMappingURL=form.css.map */
