body {
    background: url('../images/web_bg_bw.jpg') no-repeat center center fixed;
}

h1 {
    font-size: 48px;
    color: black;
    margin-left: 16%;
    text-shadow: 1px 1px 0 cadetblue, -1px -1px 0 cadetblue, 1px -1px 0 cadetblue, -1px 1px 0 cadetblue, 1px 1px 0 cadetblue;
}

.log-box {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    margin-left: 10%;
    opacity: .4;
}