body {
    margin: 0;
    padding: 0;
    background: url('../images/web_bg_bw.jpg') no-repeat center center fixed;
}

.log-box {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    opacity: .4;
}