body {
    background: url('../images/web_bg_bw.jpg') no-repeat center center fixed;
}

h1 {
    color: white;
    margin-left: 15%;
}

.log-box {
    height: 400px;
    width: 400px;
    background-color: #272822;
    border-radius: 5px;
    position: absolute;
    margin-left: 10%;
    opacity: .3;
}