@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
body {
    margin: 0;
    padding: 0;
    //background: url('../images/web_bg_bw.jpg') no-repeat;
    background: #1a232c;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    padding-top: 1em;
}

.title {
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-size: 48px;
    color: rgb(224, 224, 224);
}


/*
Form styling below -----------------------------------------
*/

.form-titles {
    color: white;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.form {
    width: 400px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    .login-content,
    .register-content {
        margin: 0 auto;
        width: 300px;
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            text-align: center;
            color: white;
            border: 2px solid #2980b9;
            width: 200px;
            padding: 14px 10px;
            outline: none;
            border-radius: 15px;
            transition: all ease .3s;
            &:focus {
                width: 280px;
                border-color: #2ecc71;
                border-top-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgba(0, 0, 0, 0);
                &::-webkit-input-placeholder {
                    color: transparent;
                }
                &:-moz-placeholder {
                    color: transparent;
                }
                &::-moz-placeholder {
                    color: transparent;
                }
                &:-ms-input-placeholder {
                    color: transparent;
                }
                &:hover {
                    border-color: #2ecc71;
                    border-top-color: rgba(0, 0, 0, 0);
                    border-bottom-color: rgba(0, 0, 0, 0);
                }
            }
            &:hover {
                border-color: #2ecc71;
            }
        }
        input[type="submit"] {
            font-weight: 800;
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            color: white;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            border-radius: 15px;
            transition: .25s;
            cursor: pointer;
            &:hover {
                background: #2ecc71;
                color: black;
            }
        }
        input[type=checkbox] {
            display: none;
            &+label {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
                display: inline-block;
                color: white;
                margin: 0.2em;
                cursor: pointer;
                padding: 0.2em;
                padding-left: 4em;
                &:before {
                    content: "\2714";
                    border: 0.15em solid #2980b9;
                    border-radius: 0.2em;
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    padding-left: 0.2em;
                    padding-bottom: 0.1em;
                    margin-right: 0.5em;
                    vertical-align: bottom;
                    color: transparent;
                    transition: 0.2s;
                }
                &:active:before {
                    transform: scale(0);
                }
            }
            &:checked+label:before {
                background-color: #2ecc71;
                border-color: #2980b9;
                color: #FFF;
            }
        }
    }
}

ul {
    display: none;
}


/*
Tooltip styling below -----------------------------------------
*/

.tooltip {
    opacity: 0;
    transition: all ease 0.5s;
    &::before,
    &::after {
        position: absolute;
        left: 50%;
        text-align: center;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }
}

input[type="text"]:focus+.user-tooltip {
    &::before {
        content: "";
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        left: 22em;
        top: 40px;
        text-align: center;
    }
    &::after {
        content: attr(data-tooltip);
        background: rgba(0, 0, 0, .8);
        font-size: 14px;
        color: seashell;
        width: 250px;
        padding: 14px;
        border-radius: 10px;
        left: 91.3%;
        transform: translateY(-95px);
    }
}

input[type="email"]:focus+.email-tooltip {
    &::before {
        content: "";
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        left: 22em;
        top: 105px;
        text-align: center;
    }
    &::after {
        content: attr(data-tooltip);
        background: rgba(0, 0, 0, .8);
        font-size: 14px;
        color: seashell;
        width: 250px;
        padding: 14px;
        border-radius: 10px;
        left: 91.3%;
        transform: translateY(-70px);
    }
}

input[type="password"]:focus+.password-tooltip {
    &::before {
        content: "";
        border-width: 10px 8px 0px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        transform: rotate(90deg);
        left: 22em;
        top: 175px;
        text-align: center;
    }
    &::after {
        content: attr(data-tooltip);
        background: rgba(0, 0, 0, .8);
        font-size: 14px;
        color: seashell;
        width: 250px;
        padding: 14px;
        border-radius: 10px;
        left: 91.3%;
        transform: translateY(-100px);
    }
}

input:focus+.tooltip {
    //transition: all ease 0.5s;
    opacity: 1;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(216, 216, 216);
    font-size: 16px;
    float: left;
    left: 10px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    span {
        font-family: monospace;
        font-weight: 600;
        font-size: 14px;
    }
}

.gear-icon {
    position: fixed;
    bottom: 0;
    .icon {
        width: 150px;
        height: 150px;
        opacity: 1;
        transition: 0.5s;
        &:hover {
            opacity: 0;
            transition: 0.5s;
        }
    }
}

@media screen and (max-height: 700px) {
    .gear-icon {
        display: none;
    }
    .title {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    footer {
        display: none;
    }
}